<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <div id="calContPadre" style="width: {ancho}px; height: {alto}px">
        <f:image src="EXT:calendario/Resources/Public/Image/Calendario.png" id="{redimension}"></f:image>
        <div id="calContPrincipal" class="zoomImagen" style="transform: scale({tamano})">
            <div id="calContAno">{ano}</div>
            <div id="calContMes">{mesTexto}</div>
            <div id="calContNumero">{diaNumero}</div>
            <div id="calContDia">{diaTexto}</div>
        </div>
    </div>

</div>