#calContPrincipal {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 498px;
    height: 566px;
    z-index: 3;
}

#calContAno {
    position: absolute;
    top: 190px;
    bottom: 0;
    left: 190px;
    right: 0;
    font: bold 190% arial;
    color: white;
    width: 115px;
    height: 40px;
    text-align: center;
}

#calContMes {
    position: absolute;
    top: 125px;
    bottom: 0;
    left: 65px;
    right: 0;
    font: bold 350% arial;
    color: white;
    width: 360px;
    height: 55px;
    text-align: center;
}
#calContNumero {
    position: absolute;
    top: 225px;
    bottom: 0;
    left: 95px;
    right: 0;
    font: bold 1400% arial;
    width: 310px;
    height: 200px;
    text-align: center;
    padding-bottom: 10px;
}
#calContDia {
    position: absolute;
    top: 455px;
    bottom: 0;
    left: 80px;
    right: 0;
    font: bold 250% arial;
    width: 330px;
    height: 45px;
    text-align: center;
}

#calContPadre {
    position: relative;
    z-index: 1
}

.zoomImagen {

    transform-origin: 0 0;
}

#imgTam01 {
    width: 49.8px;
    height: 56.6px;
    position: absolute;
    z-index: 2;
}

#imgTam02 {
    width: 99.6px;
    height: 113.2px;
    position: absolute;
    z-index: 2;
}

#imgTam03 {
    width: 149.4px;
    height: 169.8px;
    position: absolute;
    z-index: 2;

}
#imgTam04 {
    width: 199.2px;
    height: 226.4px;
    position: absolute;
    z-index: 2;
}

#imgTam05 {
    width: 249px;
    height: 283px;
    position: absolute;
    z-index: 2;
}

#imgTam06 {
    width: 298.8px;
    height: 339.6px;
    position: absolute;
    z-index: 2;
}

#imgTam07 {
    width: 348.6px;
    height: 396.2px;
    position: absolute;
    z-index: 2;
}

#imgTam08 {
    width: 398.4px;
    height: 452.8px;
    position: absolute;
    z-index: 2;
}

#imgTam09 {
    width: 448.2px;
    height: 509.4px;
    position: absolute;
    z-index: 2;
}

#imgTam10 {
    width: 498px;
    height: 566px;
    position: absolute;
    z-index: 2;
}
