{namespace cal = Francisco\Calendario\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="example" options="{group: 'FCO'}" label="Calendario" description="Calendario que muestra dia, mes y año">
			<flux:form.sheet name="configuracion" label="Configuracion">
				<flux:field.input name="fecha" label="Ingrese fecha (Si no se ingresa nada se obtendra la fecha actual)" placeholder="dd-mm-aaaa"></flux:field.input>
				<flux:field.select name="tamano" items="10%,20%,30%,40%,50%,60%,70%,80%,90%,100%"></flux:field.select>
			</flux:form.sheet>
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
		<strong>Your Input:</strong><br />
	</f:section>

	<f:section name="Main">
		<cal:Calendario tamano="{tamano}" fecha="{fecha}"/>
	</f:section>
</div>
